[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GOLDprice"]
	path = GOLDprice
	url = https://github.com/cran/GOLDprice
[submodule "K4PrestasiSiswa"]
	path = K4PrestasiSiswa
	url = https://github.com/cran/K4PrestasiSiswa
[submodule "K4ProsesSiswa"]
	path = K4ProsesSiswa
	url = https://github.com/cran/K4ProsesSiswa
[submodule "K4Sekolah"]
	path = K4Sekolah
	url = https://github.com/cran/K4Sekolah
[submodule "PODES"]
	path = PODES
	url = https://github.com/cran/PODES
[submodule "SAKERNAS"]
	path = SAKERNAS
	url = https://github.com/cran/SAKERNAS
[submodule "SUSENAS"]
	path = SUSENAS
	url = https://github.com/cran/SUSENAS
[submodule "hosm"]
	path = hosm
	url = https://github.com/mubarakfadhlul/hosm
[submodule "ifpd"]
	path = ifpd
	url = https://github.com/mubarakfadhlul/ifpd
