[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "hosm"]
	path = hosm
	url = https://github.com/mubarakfadhlul/hosm
[submodule "ifpd"]
	path = ifpd
	url = https://github.com/mubarakfadhlul/ifpd
