[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "PODES"]
	path = PODES
	url = https://github.com/cran/PODES
[submodule "SUSENAS"]
	path = SUSENAS
	url = https://github.com/cran/SUSENAS
[submodule "hosm"]
	path = hosm
	url = https://github.com/mubarakfadhlul/hosm
[submodule "ifpd"]
	path = ifpd
	url = https://github.com/mubarakfadhlul/ifpd
